<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <form action="/corkage-store/new" method="post">
        <div class="form-group">
            <label for="addr">주소</label>
            <input type="hidden" id="addr" name="addr" th:value="${ckInfo.addr}">
            <p th:value="${ckInfo.addr}"></p>
            <label for="name">상호명</label>
            <input type="text" id="name" name="name" placeholder="상호명을 입력하세요">
            <label for="desc">설명</label>
            <input type="text" id="desc" name="desc" placeholder="설명을 적어주세요">
        </div>
        <button type="submit">등록</button>
    </form>
</div> <!-- /container -->
</body>
</html>